.table td,
.table th .table tr {
  display: flexbox;
  text-align: start;
  align-items: center;
}
.btn-wrapper {
  display: flex;
}
.space-between {
  margin-left: 2px;
  margin-right: 2px;
}

.search-btn {
  margin-left: -15px;
}